<!-- ==== Documentation ========================================================
    ==>todo==> : tout les commentaires précédés de cette mention signifient que
                 cet aspect conporte encore des zone de flou et qu'il faudra
                 éventuellement apporter des modification avant la mise en
                 production.
    ::info::   : tout les commentaires précédés de cette mention sont simplement
                 des informations diverse sur le contenu de ce qui va suivre.
 -->

<!doctype html>

<!-- ==>todo==> penser à rendre le paramêtre de lang dynamique comme le site
              prévoi aux moins deux langues possibles minimum (EN, FR)       -->
<html lang="fr">
    <!-- ::info:: déclaration des information d'entête de la page web -->
    <head>
        <!-- ::info:: choix de l'encodage des caractères -->
        <meta charset="utf-8"/>
        <!-- ::info:: choix du titre de la page web -->
        <!-- ==> todo ==> envisager de changer le nom du site web -->
        <title>Tv show</title>
        <!-- :: info :: déclaration des feuilles de style css associées -->
        <link rel="stylesheet" href="../stylesheets/wireframe.css"/>
        <link rel="stylesheet" href="../stylesheets/aside_kind.css"/>
    </head>

    <!-- ::info:: Corps de la page web, éléments visible dans le navigateur
                    -->
    <body>
        <!-- ::info:: le block du choix des différents genre de séries TV -->
        <div class="wf_no-link-content" id="as_kind">
            <!-- ::info:: le titre de ce block -->
            <h3 class="wf_no-link" >Les genres</h3>
            <!-- ::info:: la liste des différents genres -->
            <ul>
                <!-- ::info:: chacuns des genre est un lien vers la page de
                              choix des séries avec un filtre sur le genre
                              choisi -->
                <li><a class="wf_link" href="#">Genre 1</a></li>
                <li><a class="wf_link" href="#">Genre 2</a></li>
                <li><a class="wf_link" href="#">Genre 3</a></li>
                <li><a class="wf_link" href="#">Genre 4</a></li>
                <li><a class="wf_link" href="#">Genre 5</a></li>
                <li><a class="wf_link" href="#">Genre 6</a></li>
                <li><a class="wf_link" href="#">Genre 7</a></li>
                <li><a class="wf_link" href="#">Genre 8</a></li>
                <li><a class="wf_link" href="#">Genre 9</a></li>
                <li><a class="wf_link" href="#">Genre 10</a></li>
                <li><a class="wf_link" href="#">Genre 11</a></li>
                <li><a class="wf_link" href="#">Genre 12</a></li>
                <li><a class="wf_link" href="#">Genre 13</a></li>
                <li><a class="wf_link" href="#">Genre 14</a></li>
            </ul>
        </div>
    </body>

</html>
