<!-- ==== Documentation ========================================================
    ==>todo==> : tout les commentaires précédés de cette mention signifient que
                 cet aspect conporte encore des zone de flou et qu'il faudra
                 éventuellement apporter des modification avant la mise en
                 production.
    ::info::   : tout les commentaires précédés de cette mention sont simplement
                 des informations diverse sur le contenu de ce qui va suivre.
 -->

<!doctype html>

<!-- ==>todo==> penser à rendre le paramêtre de lang dynamique comme le site
              prévoi aux moins deux langues possibles minimum (EN, FR)       -->
<html lang="fr">
  <!-- ::info:: déclaration des information d'entête de la page web -->
  <head>
    <!-- ::info:: choix de l'encodage des caractères -->
    <meta charset="utf-8"/>
    <!-- ::info:: choix du titre de la page web -->
    <!-- ==> todo ==> envisager de changer le nom du site web -->
    <title>Tv show</title>
    <!-- :: info :: déclaration des feuilles de style css associées -->
    <link rel="stylesheet" href="../stylesheets/wireframe.css"/>
    <link rel="stylesheet" href="../stylesheets/global.css"/>
    <link rel="stylesheet" href="../stylesheets/header.css"/>
    <link rel="stylesheet" href="../stylesheets/aside_kind.css"/>
    <link rel="stylesheet" href="../stylesheets/aside_friends_list.css"/>
    <link rel="stylesheet" href="../stylesheets/footer.css"/>
    <link rel="stylesheet" href="../stylesheets/listing_research.css"/>
    <link rel="stylesheet" href="../stylesheets/liste_all_actor.css"/>
  </head>

  <!-- ::info:: Corps de la page web, éléments visible dans le navigateur
                -->
  <body>
    <div class="version">
      <span>Prototype</span>
      <span>page de résultat d'une recherche</span>
    </div>

    <!-- l'entête de la page, inclut par le script header.js -->
    <header id="hd_js"></header>

    <!-- le block <div> qui contient tout le contenu de la page -->
    <div id="main">
      <!-- le block <section> qui contient tout les informations de la
           page courante -->
      <section id="listing_research">
        
        <!-- le titre de la page -->
        <h1 class="wf_no-link-align">Résultat de la recherche pour "expression"</h1>

        <!-- le panneau de filtre du résultat par série, acteur ou membres -->
        <ul>
          <li>
            <a class="wf_link" href="listing_research_serie.html">
              <h2>Séries<span>(nb)</span></h2>
            </a>
          </li>
          <li>
            <a class="wf_link" href="listing_research_actor.html">
              <h2>Acteurs<span>(nb)</span></h2>
            </a>
          </li>
          <li>
            <a class="wf_link" href="listing_research_user.html">
              <h2>Membres<span>(nb)</span></h2>
            </a>
          </li>
        </ul>

      <!-- Le block qui contient l'ensemble des résultat de recherche des 
           acteurs  -->
      <div class="listing_actor_block">
        
        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

        <!-- chaque résulat est stocké dans une <figure> -->
        <figure>
          <!-- chaque acteur possède un photo qui le représente -->
          <img src="../pictures/wf_img.jpg" alt="acteur" class="wf_img">
          <!-- chaque acteur possède un nom qui est un liens vers sa page -->
          <figcaption><a class="wf_link" href="#">Nom acteur</a></figcaption>
        </figure>

      </div>

      <!-- pied de page de la section, regroupe la pagination des résultat -->
      <footer>
        <nav>
          <a href="#" class="wf_link">&#171;</a>
          <a href="#" class="wf_link">1</a>
          <a href="#" class="wf_link">&#187;</a>
        </nav>
      </footer>

      </section>
      <!-- la partie latérale qui contient : choix des genres, liste des
           amis. Inclut par les scripts aside_kind.js et
           aside_friends_list.js -->
      <aside id="as_js"></aside>
    </div>

    <!-- ::info:: la balise <footer>, le pied de page du site -->
    <footer class="wf_no-link-content" id="ft_js"></footer>

    <!-- ::info:: Appel du script pour l'affichage du header -->
    <script src="../javascirpts/header.js"></script>
    <!-- ::info:: Appel du script pour l'affichage du block de choix des
                  genres -->
    <script src="../javascirpts/aside_kind.js"></script>
    <!-- ::info:: Appel du script pour l'affichage du block de la liste des
                  amis -->
    <script src="../javascirpts/aside_friends_list.js"></script>
    <!-- ::info:: Appel du script pour l'affichage du footer -->
    <script src="../javascirpts/footer.js"></script>
  </body>

</html>
