<!-- ==== Documentation ========================================================
    ==>todo==> : tout les commentaires précédés de cette mention signifient que
                 cet aspect conporte encore des zone de flou et qu'il faudra
                 éventuellement apporter des modification avant la mise en
                 production.
    ::info::   : tout les commentaires précédés de cette mention sont simplement
                 des informations diverse sur le contenu de ce qui va suivre.
 -->

<!doctype html>

<!-- ==>todo==> penser à rendre le paramêtre de lang dynamique comme le site
              prévoi aux moins deux langues possibles minimum (EN, FR)       -->
<html lang="fr">
  <!-- ::info:: déclaration des information d'entête de la page web -->
  <head>
    <!-- ::info:: choix de l'encodage des caractères -->
    <meta charset="utf-8"/>
    <!-- ::info:: choix du titre de la page web -->
    <!-- ==> todo ==> envisager de changer le nom du site web -->
    <title>Tv show</title>
    <!-- :: info :: déclaration des feuilles de style css associées -->
    <link rel="stylesheet" href="../stylesheets/wireframe.css"/>
    <link rel="stylesheet" href="../stylesheets/global.css"/>
    <link rel="stylesheet" href="../stylesheets/header.css"/>
    <link rel="stylesheet" href="../stylesheets/aside_kind.css"/>
    <link rel="stylesheet" href="../stylesheets/aside_friends_list.css"/>
    <link rel="stylesheet" href="../stylesheets/footer.css"/>
    <link rel="stylesheet" href="../stylesheets/detail_genre.css"/>
  </head>

  <!-- ::info:: Corps de la page web, éléments visible dans le navigateur
                -->
  <body>
    <div class="version">
      <span>Prototype</span>
      <span>page liste de toute les séries</span>
    </div>

    <!-- l'entête de la page, inclut par le script header.js -->
    <header id="hd_js"></header>

    <!-- le block <div> qui contient tout le contenu de la page -->
    <div id="main">
      <!-- le block <section> qui contient tout les informations de la
           page courante -->
      <section id="detail_genre">
        
        <!-- le titre de la page -->
        <h1 class="wf_no-link-align">Liste de toute les série</h1>
        
        <!-- le panneau de filtre du résultat des différents top : top des meilleurs vue, top des meilleurs suivi, top des mieux noté, ... -->
        <ul>
          <li class="wf_link">filtre 1</li>
          <li class="wf_link">filtre 2</li>
          <li class="wf_link">filtre 3</li>
          <li class="wf_link">filtre 4</li>
        </ul>

        <!-- le block <div> qui contient le résultat des série du genre dans leur totalité -->
        <div class="detail_genre_block">
          
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>

          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>

          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>

          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>

          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>

          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>

          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>

          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>

          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
          <!-- chaque résultat est stocké dans une <div> -->
          <div class="detail_genre_result">
            <!-- l'ensemble image de la serie plus nom -->
            <figure>
              <img class="wf_img" src="../pictures/wf_img.jpg" alt="serie"/>
              <figcaption>
                <a class="wf_link" href="#">Nom de serie</a>
              </figcaption>
            </figure>
            <!-- la partie larérale du résultat -->
            <div class="detail_genre_lat">
              <!-- l'évaluation de la série -->
              <div class="detail_genre_lat_evaluation">
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
                <img class="wf_img" src="../pictures/wf_img.jpg" alt="evaluation"/>
              </div>
              <!-- le nombre de vue -->
              <div class="detail_genre_lat_nbVu wf_no-link">Nb vu</div>
            </div>
          </div>
        </div>

        <!-- pied de page de la section, regroupe la pagination des résultat -->
        <footer>
          <nav>
            <a href="#" class="wf_link">&#171;</a>
            <a href="#" class="wf_link">1</a>
            <a href="#" class="wf_link">2</a>
            <a href="#" class="wf_link">3</a>
            <a href="#" class="wf_link">4</a>
            <a href="#" class="wf_link">5</a>
            <a href="#" class="wf_link">6</a>
            <a href="#" class="wf_link">7</a>
            <a href="#" class="wf_link">8</a>
            <a href="#" class="wf_link">9</a>
            <a href="#" class="wf_link">10</a>
            <a href="#" class="wf_link">&#187;</a>
          </nav>
        </footer>

      </section>
      <!-- la partie latérale qui contient : choix des genres, liste des
           amis. Inclut par les scripts aside_kind.js et
           aside_friends_list.js -->
      <aside id="as_js"></aside>
    </div>

    <!-- ::info:: la balise <footer>, le pied de page du site -->
    <footer class="wf_no-link-content" id="ft_js"></footer>

    <!-- ::info:: Appel du script pour l'affichage du header -->
    <script src="../javascirpts/header.js"></script>
    <!-- ::info:: Appel du script pour l'affichage du block de choix des
                  genres -->
    <script src="../javascirpts/aside_kind.js"></script>
    <!-- ::info:: Appel du script pour l'affichage du block de la liste des
                  amis -->
    <script src="../javascirpts/aside_friends_list.js"></script>
    <!-- ::info:: Appel du script pour l'affichage du footer -->
    <script src="../javascirpts/footer.js"></script>
  </body>

</html>
