
/* ::info:: le filtre en absolu qui donne un effet d'opacité sur le reste 
de la page */
#user_connection {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

	/* ::info:: le formulaire de connection dans son ensemble */
	#user_connection form {
		width: 300px;
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 40px;
		box-sizing: border-box;
		background-color: white;
	}

		/* ::info:: le footer du block de connection, qui contient les deux
								boutons de validation et d'annulation */
		#user_connection footer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 15px;
		}

			/* ::info:: les liens du footer du formulaire */
			#user_connection footer a {
				margin: 0;
				width: 45%;
			}